--- 
--- 

@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
    font-family: "Indivisa Text Sans-Regular";
    src: url("../fonts/Indivisa Text Sans-Regular.ttf")
}

$family-primary: "Indivisa Text Sans-Regular", sans-serif;
$primary: #556B2F;
$link: #ef2e31;
// Import Main CSS file from theme
@import "main";

.navbar-item img {
    max-height: 2.75rem;
    color: #ef2e31;
}

.menu-label {
    font-size: 1em;
}

.hero-banner .card {
    background-color: #ef2e31;
    border: 1px solid rgba(0, 0, 0, 0.08);
}

.hero-banner .card-content,
.hero-banner .card-content p,
.hero-banner .card-content a,
.hero-banner .card-content li {
    color: #fff;
}

.hero_image {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    border-radius: 50%;
}